@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Edu AU VIC WA NT Hand';
    src: url(../fonts/EduAUVICWANTHand-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/HelveticaNeueRoman.otf);
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(../fonts/HelveticaNeueLight.otf);
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(../fonts/HelveticaNeueMedium.otf);
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url(../fonts/HelveticaNeueBold.otf);
}

@font-face {
    font-family: 'Helvetica Neue Condensed Bold';
    src: url(../fonts/HelveticaNeueCondensedBold.ttf);
}

@font-face {
    font-family: 'GT America Trial';
    src: url(../fonts/gt-america-trial/GT-America-Compressed-Regular-Trial.otf);
}

@font-face {
    font-family: 'GT America Trial Bold';
    src: url(../fonts/gt-america-trial/GT-America-Compressed-Bold-Trial.otf);
}

@layer base {
    html {
        @apply scroll-smooth overflow-x-hidden
    }

    body {
        @apply font-helvetica font-normal box-border bg-transparent
    }

    p {
        @apply text-sm font-normal leading-8 m-0
    }
}

@layer components {
    .nav_link {
        @apply text-base leading-[22.4px] py-2 font-medium text-white uppercase transition-all duration-500 hover:text-[#B2811F]
    }

    .nav-white {
        background: rgba(0, 0, 0, 0.3) !important;
        backdrop-filter: blur(4px);
    }

    .btn-white {
        @apply py-5 px-9 bg-white rounded-full text-base  font-medium text-black;
    }

    .btn-black {
        @apply py-5 px-9 bg-black rounded-full text-base  font-medium text-white transition-all duration-500;
    }

    .btn-black:hover {
        @apply shadow-xl;
    }

    .max-w-8xl {
        width: 100%;
        max-width: 1440px;
    }

    .text-anim {
        overflow: hidden;
    }

    .text-anim div {
        display: inline-block;
    }


   


    /* TIMELINE CONTAINER */
    .timeline-container .swiper-Timeline {
        width: 100%;
        height: auto;
        overflow: hidden !important;
        @apply lg:h-[800px] md:h-[900px];
    }

    .timeline-container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;


        align-items: center;
        gap: 50px;
        position: relative;
        @apply flex flex-col lg:flex-row px-4 lg:px-[32px];
    }


    .timeline-container .left-panel {

        align-items: center;
        gap: 20px;
        @apply flex flex-row lg:flex-col;
    }


    .timeline-container .year-list {
        @apply flex lg:flex-col lg:gap-10 sm:gap-5 gap-3;
    }

    .timeline-container .year {
        color: #A8A8A8;
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1.92px;
        transition: color 0.5s, transform 0.5s;
        cursor: pointer;
        @apply flex flex-col items-center justify-center;
    }

    .timeline-container .year .tringle {
        @apply absolute opacity-0 w-0 h-0 border-l-[10px] border-l-transparent border-b-[15px] border-b-black border-r-[10px] border-r-transparent;
    }

    .year.active {
        color: #262626;

    }

    .year.active .tringle {
        @apply max-lg:opacity-100;
    }



    .swiper-Timeline .swiper-wrapper {
        flex-direction: column;
    }

    .swiper-Timeline .swiper-slide {
        text-align: center;
        font-size: 18px;
        color: #444;
        background: #ffffff;
        border-radius: 10px;
        overflow: visible;
        transition: transform 0.5s, opacity 0.5s;
    }

    .timeline-container .left-panel button {
        border-radius: 60px;
        background: #fff;
        border: 1.25px solid #E0E0E0;
        cursor: pointer;
        transition: background 0.3s;
        color: #000;
        @apply p-4 lg:py-[26px] lg:px-[18px]
    }

    .swiper-Timeline .left-panel button:hover {
        border-color: #000;
        background-color: #000;
        color: #fff;
    }

    .swiper-Timeline .small_Title {
        color: #A8A8A8;
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1.92px;
        margin-top: 44px;
        margin-bottom: 18px;
        text-align: left;
    }

    .swiper-Timeline .counter-pera {
        color: #393939;
        font-family: "Helvetica Neue";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-align: left;
    }

    .swiper-Timeline .odometer {
        color: var(--Neutral-900, #161616);
        font-family: "GT America Trial Bold" !important;
        font-size: 240px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        /* 264px */
        text-transform: uppercase;
        display: inline-block;
        overflow-y: hidden;


    }
    .swiper-Timeline .swiper-slide.swiper-slide-active {
        z-index: 1000 !important;
    }
    .swiper-Timeline .odometer-formatting-mark {
        display: none;
    }
   
   
    .card {
        position: relative;
       
    }
    .card::before {
        content: "";
        position: absolute;
        top: -10px; left: -10px;
        right: -10px; bottom: -10px;
        background: transparent;
        pointer-events: auto;
        z-index: 2;
    }
    .card img {
       
        pointer-events: none; /* Stops image from interfering */
    }

    /* iconic Swiper */
    .iconic-slider-container .swiper-container {
        position: relative;
        padding-left: 270px;
        overflow: visible;
        max-width: 1440px;
    }
    .iconic-slider-container .swiper-wrapper{
        align-items: flex-end;
    }
    .iconic-slider-container .swiper-slide .slide-title .title {
        @apply !opacity-0;
    }
   
    .iconic-slider-container .swiper-slide.swiper-slide-active .slide-title .title {
        @apply !opacity-100;
    }

    .iconic-slider-container .swiper-slide {

        margin-left: auto;
    }

    .iconic-slider-container .swiper-buttons {
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        gap: 12px;
    }

    .iconic-slider-container .swiper-buttons button,
    .story-slide-btn {
        border: 1.25px solid #E0E0E0;
        border-radius: 60px;
        padding: 18px 26px;
        cursor: pointer;
        pointer-events: auto;
        transition: background 0.3s;
    }

    .iconic-slider-container .swiper-buttons button svg,
    .story-slide-btn svg {
        stroke: #A8A8A8;
        transition: all .6s ease-in-out;
    }

    .iconic-slider-container .swiper-buttons button:hover svg,
    .story-slide-btn:hover svg {
        stroke: #161616;
    }

    /* Slide Counter */
    .iconic-slider-container .slide-counter {
        position: relative;
        display: flex;
        align-items: center;
    }

    /* Progress Bar */
    .iconic-slider-container .swiper-progress {
        width: 100%;
        height: 1px;
        background: #C6C6C6;
    }

    .iconic-slider-container .swiper-progress-bar {
        width: 0%;
        height: 6px;
        background: black;
        transition: width 0.3s ease;
        transform: translateY(-3px);
    }

    .iconic-slider-container .swiper-pagination {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        color: #A8A8A8;
        position: relative;
        width: auto;
        font-family: 'Helvetica Neue Condensed Bold';
        bottom: 0;
    }

    .iconic-slider-container .swiper-pagination-current {
        color: #161616;
    }

    .story-slider {
        overflow: hidden;
    }

    .iconic-slider-container .slide-title {
        @apply opacity-0 transition-all duration-300;
    }

    .iconic-slider-container .swiper-slide.swiper-slide-active .slide-title {
        @apply opacity-100;
    }

    /*news slider*/
    .news-slider {
        height: 782px;
    }

    .news-slider .swiper-slide {
        background-position: top !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        position: relative;
        padding: 80px 0px;
        display: flex;
        align-items: flex-end;
       
    }
    .news-slider .swiper-slide .block.relative{
        max-width: 1360px;
        width: 100%;
        margin: 0px auto;
    }
    .news-arrow{
        max-width: 1360px;
        width: 100%;
        margin: 0px auto;
        left: 0;
        right: 0;
        bottom: 80px;
    }
    .news-slider .swiper-slide::before {
        content: "";
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 83.5%);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .news-slide-btn {
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.10);
        padding: 18px 26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .news-slider .swiper-pagination {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        color: rgba(255, 255, 255, 0.50);
        position: relative;
        width: auto;
        font-family: 'Helvetica Neue Condensed Bold';
    }

    .news-slider .swiper-pagination-current {
        color: #fff;
    }
    .news-slider .swiper-pagination{
        max-width: 1360px;
        margin: auto;
    }
    @media(max-width:1500px) {
        .iconic-slider-container .swiper-container {
            padding-left: 100px;
        }
        
    }

    @media(max-width:1300px) {
        .iconic-slider-container .swiper-container {
            padding-left: 30px;
        }
    }
    @media(max-width:990px) {
        .timeline-container .year .tringle{
            position: relative;
        }
    }
    @media(max-width:767px) {
       
        .iconic-slider-container .swiper-container {
            padding-left: 24px;
        }

        .iconic-slider-container .swiper-pagination {
            font-size: 24px;
        }

        .iconic-slider-container .swiper-buttons button,
        .story-slide-btn {
            width: 48px;
            height: 36px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .story-slide-img {
            width: 100%;
            height: 360px;
        }

        .story-slide-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .photo-slider-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .photo-slider-thumb {
        width: 510px;
        height: 100%;
        margin-left: 14%;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .photo-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .photo-nav .photo-swiper-button-next:after,
    .photo-nav .photo-swiper-button-prev:after {
        content: none;
    }

    .swiper-arrow {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .photo-slider-container .thumb-slider {
        width: 100%;
        height: 230px;
        overflow: hidden;
    }

    .photo-slider-container .main-slider {
        height: 800px;
        width: 780px;
        margin: 0 !important;
        overflow: hidden;
    }



    .photo-slider-container .swiper-slide {
        overflow: hidden;
        margin: 0 !important;
    }

    .photo-slider-container .slide-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        transition: transform 1s ease-in-out;
    }

    .photo-slider-container .photo-swiper-button-next,
    .photo-slider-container .photo-swiper-button-prev {
        position: relative;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        margin: 0 !important;
        background: none !important;
        width: auto !important;
        height: auto !important;
        font-size: 20px;
        font-weight: 500;
        color: #161616;
        line-height: 28px;
        cursor: pointer;
    }

    .photo-nav-main {
        max-width: 510px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* Slide Counter Styles */

    .photo-nav-main .swiper-pagination-fraction {
        position: relative;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        width: auto !important;
        font-family: 'Helvetica Neue Condensed Bold';
    }

    .photo-nav-main .swiper-pagination-fraction {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: #A8A8A8;
    }

    .photo-nav-main .swiper-pagination-current {
        color: #161616;
    }

    .volume-switcher {
        display: none;
    }

    /* volume on : container */
    .switcher-container {
        display: block;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 32px;
        right: 32px;
        cursor: pointer;
        opacity: 0.8;
        width: 132px;
        height: 96px;
        border-radius: 80px;
        background: rgba(0, 0, 0, 0.40);
        backdrop-filter: blur(2px);
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in 0s;
    }

    .switcher-container:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 1);
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in 0s;
    }

    .btn-back {
        @apply flex items-center gap-3 text-sm font-medium leading-[140%] text-[#161616] transition-all duration-500
    }

    .btn-share {
        display: flex;
    height: 5rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background: #F4F4F4;
    background-color: rgb(244 244 244 / var(--tw-bg-opacity, 1));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    }
    .swiper-blog .swiper-slide {
        width: 100%;
        max-width: 300px;
    }
   
    .home-navbar.scrolled{
        background: #fff;
        border-bottom: 1px solid #E0E0E0;
    }
    
    .home-navbar.scrolled .nav_link {
        color: #000;
    }
    .home-navbar.scrolled .nav_link:hover {
        color: #b2811f;
    }
    .home-navbar.scrolled #navwrapper button{
        background: #000;
        color: #fff;
    }
    .home-navbar.scrolled #navwrapper button:hover{
        box-shadow:0px 10px 20px 0px rgba(0,0,0,0.1);
    }
    .logo-img-black{
        display: none;
    }
    .home-navbar.scrolled #navwrapper .logo-img-black{
        display: block;
    }
    .home-navbar.scrolled #navwrapper .logo-img-white{
        display: none;
    }
    .iconic-slider-pagination{
        max-width: 1345px;
    }
    .press-list .group:last-child{
        border-bottom: 0px;
    }
    .main-slider-brand .swiper-slide {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .brand-slider-container .main-slider-brand {
        height: 800px;
        width: 1100px;
        margin: 0 !important;
        overflow: hidden;
    }
    .brand-slider-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }

    
    

    .brand-arrow {
        display: flex;
        align-items: center;
        gap: 4px;
    }



    .brand-slider-container .swiper-slide {
        overflow: hidden;
    }
    
    .brand-slider-container .main-slider-brand .swiper-wrapper{
        align-items: center;
        flex-direction: column;
    }
    .brand-slider-container .nested-slider-container .swiper-wrapper {
        align-items: center;
        flex-direction: row;
    }
    .brand-slider-container .slide-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
    }
    .main-slider-brand .bg-white {
        z-index: 2;
        position: absolute;
    }
    .brand-slider-container .photo-swiper-button-next,
    .brand-slider-container .photo-swiper-button-prev {
        position: relative;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        margin: 0 !important;
        background: none !important;
        width: auto !important;
        height: auto !important;
        font-size: 20px;
        font-weight: 500;
        color: #161616;
        line-height: 28px;
        cursor: pointer;
    }
    .brand-left-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:5px;
        justify-content: space-between;
        align-items: flex-start;
        margin: auto;
        max-width: 370px;
    }
   
    .brand-names-container {
        position: relative;
        height: 270px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .swiper-container-vertical > .swiper-wrapper {
        flex-direction: column;
    }
    .brand-names {
        display: flex;
        flex-direction: column;
        gap:10px;
        transition: transform 0.5s ease-in-out;
    }
    
    .brand-name {
        display: block;
        color: rgba(0, 0, 0, 0.1);
        font-size: 52px;
        line-height: 52px;
        text-transform: uppercase;
        transition: opacity 0.3s ease-in-out;
    }
    
    .brand-name.active {
        opacity: 1;
        color: rgba(0, 0, 0, 1); /* Change to highlight color */
    }
.nested-slider-container{
    overflow: hidden;
    position: relative;
    z-index: 3;
    height: auto;
}
.nested-slider {
    width: 100%;
    height: auto !important;
    overflow: visible;
}

.nested-slider .swiper-slide {
    height: auto !important; /* Let the height adjust based on image size */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nested-slider .swiper-slide img {
    width: 100%; /* Ensure images are responsive */
    height: auto; /* Allow height to scale naturally */
    object-fit: contain; /* Keep image proportions */
}
.home-hero-sec .switcher-container {
    right: 237px;
}
.brand-names-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE/Edge */
  }
  
  .brand-names-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  /*gl paris css*/
  .gl-paris-body.scroll-lock {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
  }

  .gl-paris-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #f5f5f5;
  }

  .gl-paris-body::-webkit-scrollbar {
    width: 0px;
    background-color: #f5f5f5;
  }

  .gl-paris-body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

    .add-img-before::before.swiper-timeline-paris-paris {
        padding: 0;
    }

    .swiper-frame {
        width: 438px;
        max-width: 940px;
        height: 362px;
        margin: 0 auto;
        overflow: hidden !important;

    }

    .swiper-frame .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        right: -80px;
        position: absolute;
        z-index: 100 !important;
        top: 170px;
    }

    .swiper-frame .swiper-slide.swiper-slide-active {
        opacity: 1;
    }

    .swiper-frame .swiper-slide {
        opacity: 0;
        transition: all 0.5s ease-out;
    }

    .swiper-frame .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 6px;
        height: 16px;
        border-radius: 30px;
        background: #000;
    }

    .add-img-before::before {
        content: "";
        position: absolute;
        top: -55px;
        left: -50px;
        width: 460px;
        height: 465px;
        background-image: url('../images/gl-paris/frem.png');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
    }

   
    .hero {
        position: relative;
    }

    @media (max-width: 768px) {

        .main-anim,
        .swiper-timeline-paris {
            display: block !important;
            position: relative;
            top: auto;
        }
    }

    .swiper-timeline-paris {
        width: 100%;
    }

    .swiper-timeline-paris .swiper-wrapper {
        display: flex;
        margin: 0;
        padding: 0;
        min-height: 400px;
    }

    .timeline-section .year-1 .tringle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 0px;
        width: 0px;
        border-left-width: 5px;
        border-bottom-width: 10px;
        border-right-width: 5px;
        border-left-color: transparent;
        border-bottom-color: #000;
        border-right-color: transparent;
        opacity: 0;
    }

    .year-1.active {
        color: #000;
    }

    .year-1 {
        position: relative;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        line-height: 140%;
        letter-spacing: 2px;
        text-align: center;
    }

    .year-1.active .tringle {
        opacity: 1;
    }

    .swiper-timeline-paris .swiper-slide {
        flex-shrink: 0;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .swiper-timeline-paris.swiper-container {
        padding-left: 60px;
        padding-right: 60px;
        overflow: visible;
    }

    .swiper-timeline-paris .swiper-slide {
        background-position: top !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        margin: 0px 10px;
        width: 350px;
        height: 220px;
        transition: all 0.5s ease-in-out;
    }

    .swiper-timeline-paris .swiper-slide img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .swiper-timeline-paris .swiper-slide.swiper-slide-active {
        width: 350px;
        height: 360px;
        transition: all 0.5s ease-in-out;
    }

    .swiper-timeline-paris .swiper-slide.swiper-slide-prev,
    .swiper-timeline-paris .swiper-slide.swiper-slide-next {
        width: 350px;
        height: 150px;
    }

    .img-wrapper img {
        transition: all 0.5s ease-in-out;
    }

    .swiper-timeline-paris .swiper-slide.swiper-slide-active img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1;
    }

    .swiper-timeline-paris .swiper-slide.swiper-slide-active .img-wrapper {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .swiper-timeline-paris .swiper-button-prev,
    .swiper-button-next {
        color: #000;
    }

    .text-content-container .odometer {
        display: inline-block;
        font-size: 104px;
        line-height: 104px;
    }

    .timeline-section .year-1.year-1.active .scale .middle-line {
        background: #000;
    }

    .text-content-container .odometer .odometer-formatting-mark {
        display: none !important;
    }

    
    @media(max-width:1270px){
      
        .left-small-img,.right-small-img{
            bottom: -50px;
            max-width: 300px;
        }
        .scale {
            display: none !important;
        }
        .year-1 {
            font-size: 12px;
            width: 70px!important;
            height: 50px!important;
        }
        .year-list{
            max-width: 400px;
            gap:20px;
            justify-content: center;
        }
        #time-prevSlide-1{
            position: relative;
             left: 40px;
        }
        #time-nextSlide-1{
            position: relative;
             right: 40px;
        }
    }
    @media(max-width:1024px){
        .main-anim{
            width: 100%;
        }
        .main-anim .flex{
            flex-direction: column;
        }
        .hero{
            height:100%;
            padding-top: 180px;
        }
        .img-small{
            overflow: visible;
            height: auto;
        }
        .swiper-frame{
            width: 100%;
        }
        #time-prevSlide-1,
        #time-nextSlide-1 {
            transform: rotate(0deg);
            position: absolute;
            bottom: 50px;
        }
        
    }
    @media(max-width:1000px) {
        .scale {
            display: none !important;
        }
        .left-small-img,.right-small-img{
            max-width: 200px;
            bottom: -50px;
        }
        .timeline-section{
            overflow-y: hidden;
        }
        .year-list{
            justify-content: center;
        }
        .text-content-container {
            flex-direction: column;
            gap: 10px;
        }

        .slide-caption {
            text-align: center;
        }

        .year-1 {
            font-size: 12px;
            width: 70px!important;
            height: 50px!important;
        }

       

        #time-prevSlide-1 {
            left: 100px;
        }

        #time-nextSlide-1 {
            right: 100px;
        }
    }

    @media(max-width:767px) {
        .hero {
            padding-top: 150px;
        }
        .left-small-img,.right-small-img{
            display: none!important;
        }
        .swiper-timeline-paris.swiper-container {
            padding-left: 0px;
            padding-right: 0px;
            overflow: visible;
        }
        #time-prevSlide-1, #time-nextSlide-1 {
            bottom: -60px;
        }
        .swiper-timeline-paris .swiper-slide.swiper-slide-active {
            width: 280px;
            height: 320px;
        }
        .add-img-before::before {
            left: -30px;
            width: 360px;
            height: 430px;
            top: -50px;
        }
        .swiper-frame {
            width: 100%;
          
            max-width: 260px;
        }
        .swiper-frame .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
            right: 0px;
            position: absolute;
            z-index: 100 !important;
            top: 400px;
            left: 0;
            margin: auto;
        }
        .tribute-text{
            display: none;
        }
        .swiper-frame .swiper-pagination.swiper-pagination-clickable{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:5px;
        }
       .swiper-frame .swiper-pagination-bullet.swiper-pagination-bullet-active {
            width: 16px;
            height: 8px;
        }
        .img-small
        {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .swiper-timeline-paris .swiper-slide.swiper-slide-prev, .swiper-timeline-paris .swiper-slide.swiper-slide-next {
            width: 280px;
        }
        .swiper-timeline-paris .swiper-wrapper{
            min-height: 270px;
        }
        .timeline-section{
            padding-bottom: 150px;
        }
        .swiper-timeline-paris .swiper-slide {
            width: 70vw;
            max-width: 400px;
        }

        body.scroll-lock {
            overflow-y: auto;
            height: 100%;
            position: relative;
            width: 100%;
        }

        .scale {
            display: none !important;
        }

        .year-list {
            max-width: 360px;
        }

        .year-1 {
            font-size: 12px;
            height: 50px!important;
        }

        .swiper-timeline-paris .swiper-slide-active .img-wrapper img,
        .swiper-timeline-paris .swiper-slide-active .img-wrapper-1 img {
            width: 340px;
            height: 290px;
            object-fit: cover;
        }
    }


    @media (min-width: 768px) {
        .swiper-blog .swiper-slide  {
            /* upping it to a 3 column layout */
            width: 32.5%;
            max-width: 100%;
        }
        .swiper-blog .swiper-wrapper {
            justify-content: space-between;
        }
       
    }
    @media (min-width: 767px) {
        .swiper-blog .swiper-wrapper {

            /* swiper is disabled at this breakpoint */
            /* wrap slides  */
            flex-wrap: wrap;

            width: 100%;
        }
    }
    @media(max-width:1600px){
        .home-hero-sec .switcher-container {
            right: 100px!important;
        }
        .brand-slider-container .main-slider-brand {
            height: 750px;
            width: 950px;
        }
    }
    @media(max-width:1500px) {
        .iconic-slider-pagination{
            max-width: 1340px;
        }
     
        .photo-slider-thumb {
            width: 450px;
            margin-left: 2.5%;
        }
        .photo-slider-container .main-slider {
            width: 600px;
        }
        .iconic-slider-container .swiper-container {
            padding-left: 35px;
        }
        .brand-slider-container .main-slider-brand {
            height: 750px;
            width: 880px;
        }
        .home-hero-sec .switcher-container {
            right: 70px !important;
        }
        
    }
    @media(max-width:1400px){
      
        .iconic-slider-pagination{
            max-width: 1300px;
        }
        .news-slider .swiper-pagination {
            max-width: 1330px;
            margin: auto;
        }
        .news-slider .swiper-slide .block.relative {
            max-width: 1330px;
            width: 100%;
            margin: 0px auto;
        }
    }
    @media (max-width:1366px){
        .content-block{
            max-width: 700px!important;
        }
        .brand-slider-container .main-slider-brand {
            height: 750px;
            width: 730px;
        }
    }
    @media(max-width:1350px) {
        .news-slider .swiper-pagination {
            max-width: 1190px;
            margin: auto;
        }
        .news-slider .swiper-slide .block.relative {
            max-width: 1190px;
            width: 100%;
            margin: 0px auto;
        }
        .news-arrow{
            max-width: 1190px;
        }
        .iconic-slider-pagination{
            max-width: 1180px;
        }
        .photo-slider-thumb {
            width: 450px;
        }

        .photo-slider-container .main-slider {
            width: 500px;
        }
        
    }

    @media(max-width:1100px) {
        .news-arrow{
            max-width: 865px;
        }
        .news-slider .swiper-pagination {
            max-width: 850px;
            margin: auto;
            bottom: 420px !important;
        }
        .news-slider .swiper-slide .block.relative {
            max-width: 865px;
            width: 100%;
            margin: 0px auto;
        }
        .iconic-slider-pagination{
            max-width: 940px;
        }
        .swiper-Timeline .odometer {
            font-size: 180px;
        }

        .news-slider .swiper-slide {
            padding: 40px 40px 140px;
        }
        .content-block {
            max-width: 100% !important;
        }
        .brand-slider-container {
           flex-direction: column;
        }
        .brand-slider-container .main-slider-brand {
            height: 750px;
            width: 100%;
        }
        .brand-nav-main {
            width: 100%;
        }
        .brand-names{
            flex-direction: row;
        }
        .brand-names-container {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            height: auto;
          }
        
          .brand-name {
            flex: 0 0 auto;
            margin-right: 16px;
          }
          .brand-left-main{
            max-width: 100%;
            width: calc(100% - 300px);
            margin: auto;
           
          }
          .brand-swiper-button-prev{
            position: absolute;
            transform: rotate(270deg);
            left:40px;
            top: -10px;
          }
          .brand-swiper-button-next{
            position: absolute;
            transform: rotate(270deg);
            right:40px;
            top: -30px;
          }
    }

    @media(max-width:900px) {
        /* .hero{
            padding: 150px 20px 0!important;
        } */
        .news-arrow{
            max-width: 775px;
        }
        .news-slider .swiper-pagination {
            max-width: 735px;
            margin: auto;
            bottom: 350px !important;
        }
        .news-arrow {
            max-width: 720px;
        }
        .news-slider .swiper-slide .block.relative {
            max-width: 775px;
            width: 100%;
            margin: 0px auto;
        }
        .iconic-slider-pagination{
            max-width: 680px;
        }
        .home-navbar.scrolled #navwrapper button{
            background: transparent;
            color: #fff;
        }
        .home-navbar.scrolled #navwrapper button svg path{
            stroke:black;
        }
        .home-navbar.scrolled #navwrapper .btn-white{
            background: #000;
            color: #fff;
        }
        .swiper-Timeline .odometer {
            font-size: 130px;
        }

        .photo-slider-container {
            flex-direction: column-reverse;
        }

        .photo-slider-container .main-slider {

            height: 500px;
        }

        .photo-slider-thumb {
            background: #fff;
            padding: 16px;
            margin-top: -150px;
            position: relative;
            z-index: 100;
            gap: 16px;
            margin-left: auto;
            margin-right: auto;
        }

        .photo-nav-main .swiper-pagination-fraction {
            font-size: 24px;
            line-height: 30px;
        }


        .iconic-slider-container .swiper-wrapper .swiper-slide {
            width: 100% !important;
        }


        .swiper-Timeline .swiper-wrapper {
            flex-direction: row;
        }

        .card {
            width: 100%;
            max-width: 270px;
        }

        .news-slider .swiper-slide {
            padding: 20px 20px 140px;
        }
    }

    @media(max-width:767px) {
        .news-arrow{
            max-width: 100%;
            justify-content: flex-start!important;
            bottom: 30px;
            left: 20px;
        }

        .news-slider .swiper-pagination {
            max-width: 100%;
            padding:0px 20px;
        }
        .photo-nav-main{
            flex-direction: row-reverse;
        }
        .home-navbar.scrolled #navwrapper #toggle-button{
            background: transparent;
        }
        .home-navbar.scrolled #navwrapper button svg path{
            stroke: #000;
        }
        .btn-share {
            @apply w-14 h-14;
        }
        .card {
            width: 100%;
            max-width: 200px;
        }

        .photo-slider-thumb {
            width: 300px;
        }

        .swiper-Timeline .swiper-slide {
            overflow: hidden;
        }

        .switcher-container {
            width: 80px;
            height: 56px;
            bottom: 12px;
            right: 12px;
        }
        .iconic-slider-container .swiper-container {
            padding-left: 20px;
        }
        .home-hero-sec .switcher-container {
            right: 30px !important;
        }
        .brand-name {
            font-size: 32px;
            line-height: 52px;
        }
        .brand-left-main {
            max-width: 100%;
            width: calc(100% - 30px);
            margin: auto;
        }
        .brand-nav-main {
            padding-bottom: 100px;
        }
        .brand-swiper-button-prev{
            top: 80px;
            left: 30%;
        }
        .brand-swiper-button-next {
            top: 60px;
            right: 30%;
        }
        .nested-slider .swiper-slide img{
           
            width: auto;
    height: auto;
    display: block;
        }
    }

    @media(max-width:650px) {
        .iconic-slider-container .swiper-wrapper .swiper-slide {
            width: 630px!important;
        }
        .iconic-slider-container .swiper-container {
            overflow: hidden;
        }
        #nextSlide1.disabled {
            pointer-events: none;  /* Disable clicking */
            opacity: 0.5;          /* Optional: makes the button look disabled */
        }
    }
    @media(max-width:450px) {
        .iconic-slider-pagination{
            max-width: 360px;
        }
    }
    @media(max-width:390px) {
        .iconic-slider-pagination{
            max-width: 340px;
        }
    }
    @media(max-width:375px) {
        .iconic-slider-pagination{
            max-width: 320px;
        }
    }
}